@import './app/scss/variables.scss';

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  src: url('./assets/fonts/helvetica-neue.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 700;
  src: url('./assets/fonts/helvetica-neue-bold.ttf') format('truetype');
}

html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

button {
  background-color: $blue;
  font-family: 'Open Sans';
  font-weight: 400;
  color: white;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  @include hover;
  &:focus {
    outline: none;
  }
}
